doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href='/stylesheets/all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-light
      div.container-fluid
        a.navbar-brand(href="/") Loc8r
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent")
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/about") About

    .container
      block content

      //Footer
      footer
        .row
          .col-12
            small &copy; Roqeeb 2021
    //Scripts
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/bootstrap.min.js')
